<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<script src="js/jquery.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<style>
		form {
			padding:20px;
		}
		label{
			font-weight:bold;
		}
		.hilight{
			padding:2px 1px;
			background-color:rgb(240,240,240);
		}
	</style>
</head>

<body ng-controller="mainCtrl" style='background-color:rgb(240,240,255)'>
	
	<div style='padding:10px 20px;'>
		<button type='button' class='btn btn-sm' ng-click='addField("text")'>Text</button>	
		<button type='button' class='btn btn-success btn-sm' ng-click='addField("radio")'>Radio</button>	
		<button type='button' class='btn btn-primary btn-sm' ng-click='addField("select")'>Select</button>	
		<button type='button' class='btn btn-info btn-sm' ng-click='addField("textarea")'>Textarea</button>	
		<button type='button' class='btn btn-info btn-sm' ng-click='addField("checkbox")'>Checkbox</button>	
	</div>
	
	<div style="height:500px;overflow:auto;border:1px solid rgb(200,200,200);background-color:rgb(250,250,250)">
		<form class='form-vertical'>
			<aziza-form ng-repeat="field in controls" field="field" index='$index' ng-model="formModel[field.name]"></aziza-form>	
		</form>	
	</div>

	<form id='config'>
		
		<table class='CSSTableGenerator configTable'>
			<tr>
				<td colspan='2'>Basic Configuration</td>
			</tr>
			<tr>
				<td class='tlabel'>Label:</td>
				<td><input class='std' ng-model='currentField.label'></td>
			</tr>
			<tr>
				<td class='tlabel'>Reference:</td>
				<td><input class='std' ng-model='currentField.name'></td>
			</tr>				
		</table>
		<table class='CSSTableGenerator configTable'  ng-show='currentField.options'>
			<tr>
				<td colspan='2'>Field Options</td>
			</tr>
			<tr ng-repeat='option in currentField.options'>
				<!--<td class='tlabel'></td>-->
				<td colspan='2'><input class='opt' ng-model='option.value'><a ng-href='' ng-click='rmOption($index)'><i class="fa fa-minus-square"></i></a> <a ng-href='' ng-show='$index==currentField.options.length-1' ng-click='addOption()'><i class="fa fa-plus-square"></i></a></td>
			</tr>
		</table>
	</form>
	<div id='debug' style='margin-left:20px'>
	<p><input type='checkbox' ng-model='debug'>Debug</p>
		<p ng-show='debug'>
			Sample Model: {{formModel}}<br/>{{controls}}
		</p>
	</debug>

</body>
</html>